.btn-outline-primary {
  color: black!important;
  border: solid 1px black!important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-width: 150px;
}

.btn-outline-primary svg {
  translate: 0;
  font-size: 0.65rem;
  margin-left: 5px;
}

.btn-outline-primary:hover {
  background-color: var(--primary-color)!important;
}


.btn-outline-primary:hover svg {
  translate: 10px 0;
}


/* MEDIA QUERIES */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}
