/.phpintel
/phpintel
.phpintel
/vendor
vendor
**/fonts
**/img
**/favicons
**/node_modules
**/vendor

/wp-includes/
/wp-admin/
/wp-content/themes/twentytwentytwo/
/wp-content/themes/porto/
/wp-content/uploads/
/wp-content/plugins/
/wp-content/upgrade/
/wp-content/languages/
/wp-content/themes/index.php
/wp-content/db.php
/wp-content/index.php
sitemap.xml
wp-config.php
wp-signup.php
wp-login.php
wp-settings.php
wp-load.php
wp-mail.php
readme.html
wp-links-opml.php
wp-cron.php
wp-trackback.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-activate.php
xmlrpc.php
index.php

wp-config.php
/wp-content/themes/vialplast/inc/config.php
/wp-content/themes/vialplast/img
/wp-content/themes/vialplast/vendor
/wp-content/themes/vialplast/inc/config.php
wp-content/themes/vialplast/inc/config.php
/wp-content/themes/vialplast/node_modules
/wp-content/uploads/2020/
/wp-content/uploads/2021/
/wp-content/uploads/2022/
/wp-content/uploads/2023/
/wp-content/uploads/2024/
/wp-content/uploads/2025/
/wp-content/uploads/2026/
/wp-content/uploads/wc-logs/
/wp-content/debug.log
/backup-bdd/
npm-debug.log
yarn-error.log
.swp

/landings/vendor
/landings/node_modules
/landings/img
/landings/ventas.inc.php
/landings/.env

/landings/reductores-velocidad/public/favicons
/landings/reductores-velocidad/src/img
/landings/reductores-velocidad/src/node_modules
/landings/reductores-velocidad/src/vendor
/landings/reductores-velocidad/.env

/landings/topes-estacionamiento/public/favicons
/landings/topes-estacionamiento/src/img
/landings/topes-estacionamiento/src/node_modules
/landings/topes-estacionamiento/src/vendor
/landings/topes-estacionamiento/.env

/landings/conos-postes/public/favicons
/landings/conos-postes/src/img
/landings/conos-postes/src/node_modules
/landings/conos-postes/src/vendor
/landings/conos-postes/.env

#text editors
*.esproj
*.sublime-workspace
*.tmlanguage.cache
*.tmLanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# project files should be checked into the repository, unless a significant
# number of contributors will not be using SublimeText which
# *.sublime-project

# sftp configuration file(s)
sftp-config.json

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Compass / SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache
*.css.map
config.rb

### Build tool files to exclude
*codekit*

### Node, Bower, etc. packages should be kept/maintained locally
node_modules
bower_components

# ignores any hidden subversion files if previous vcs was SVN
.svn

### Server-side cache stuff
.phpintel
PDOErrors.txt

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

###Windows###
# Installer files
*.cab
*.msi
*.msm
*.msp

# Shortcuts
*.lnk