.productos .caracteristicas {
  text-align: center;
}

.productos .iconos {
  margin-bottom: 60px;
}

.productos .caracteristicas .content {
  margin-bottom: 30px;
}

.productos .caracteristicas .col-md-4:last-child .content {
  margin-bottom: 0;
}

.productos .caracteristicas h2 {
  margin-bottom: 25px;
}

.productos .caracteristicas h4 {
  font-size: 1rem;
  font-weight: 700;
}

.productos .cuadros .content {
  display: flex;
}

.productos .cuadros .content h3 {
  margin-bottom: 0;
}

.productos .cuadros .content svg {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  color: var(--primary-color);
}



/* MEDIA QUERIES */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

  .productos .caracteristicas .content {
    margin-bottom: 0;
  }

  .productos .caracteristicas h2 {
    margin-bottom: 30px;
  }

  .productos .content_all {
    min-height: 330px;
  }

  .productos .cuadros .content svg {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
  }
  

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}
