.imagenes_prod {
  margin-bottom: 60px;
}

.imagenes_prod .content {
  margin-bottom: 30px;
}

.imagenes_prod .content:last-child {
  margin-bottom: 0;
}



/* MEDIA QUERIES */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}
