.distribuidor {
  background: var(--secondary-color);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.distribuidor .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.distribuidor .content h3 {
  font-weight: 700;
  margin-bottom: 20px;
}



/* MEDIA QUERIES */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

  .distribuidor .content h3 {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

  .distribuidor {
    padding-top: 40px;
    padding-bottom: 40px;
  }

}

@media (min-width: 1400px) {

}

@media (min-width: 1600px) {

}
